
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Features</div>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-house-laptop"></i></div>
          TRANG CHỦ
        </a>

        <a class="nav-link" href="../account/account.html">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
          MY ACCOUNT
        </a>
        
        <a class="nav-link" href="?action=account">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
          QUẢN LÝ ACCOUNT
        </a>

        <a class="nav-link" href="?action=user">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
          QUẢN LÝ USERS
        </a>

        <a class="nav-link" href="?action=product">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
          QUẢN LÝ PRODUCT
        </a>
      </div>
    </div>
  </nav>
</div>
